@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700;6..12,800&display=swap');

.first-page {
    background: url('../images/cream3.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    flex-direction: column;
    /* margin-left: 1.5rem;
    margin-right: 1.5rem; */
    margin-left: 10%;
    margin-right: 10%;
} 

.left-wrapper {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 1.19rem;
    padding-top: 0px;
    align-items: center;
    margin-bottom: 30%;
    margin-left: 2%;
    color: #0C0C0D;
}

.word {
    background: #D97E7E;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    border-radius: 30px;
    margin: 2px 2px 2px 0;
}

/* @media only screen and (max-width: 768px) {
} */

/* @media only screen and (min-width: 576px) {

} */

@media only screen and (min-width: 768px) {

    .left-wrapper {
        font-size: 1.25rem;
    }

}

/* @media only screen and (min-width: 768px) and (max-width: 992px) {

} */

@media only screen and (min-width: 992px) {
    .first-page {
        background: url('../images/cream3.jpg'), url('../images/woman-skin.jpg');
        background-position: top left, top right;
        background-repeat: no-repeat, no-repeat;
        background-size: 50%, 50%;
    }

    .left-wrapper {
        font-size: 1.4rem;
        width: 44%;
        margin-bottom: 12%;
    }
}

@media only screen and (min-width: 1200px) {
    
    .left-wrapper {
        font-size: 1.5rem;
        width: 44%;
    }
}

@media only screen and (min-width: 1450px) {
    
    .left-wrapper {
        font-size: 1.75rem;
        width: 48%;
    }
}