@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700;6..12,800&display=swap');

.canvas {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding-top: 80px;
}

@media only screen and (max-width: 576px) {
    .canvas {
        display: none;
    }
    
    .header {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .canvas {
        display: none;
    }
    
    .header {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .canvas {
        display: block;
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .header {
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .logo {
        width: 22%;
        height: auto;
    }
}

@media only screen and (min-width: 992px) {
    .canvas {
        margin-left: 120px;
        margin-right: 120px;
    }
}

@media only screen and (min-width: 1200px) {
    .canvas {
        margin-left: 170px;
        margin-right: 170px;
    }
}

@media only screen and (min-width: 1400px) {
    .canvas {
        margin-left: 270px;
        margin-right: 270px;
    }
}
