@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700;6..12,800&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.canvas {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    height: 100px;
    margin-left: 10%;
    margin-right: 10%;

}



@media only screen and (max-width: 768px) {
    .logo_desktop {
        display: none;
    }



    .logo_mobile {
        display: inline-block;
    }
}

/* @media only screen and (min-width: 576px) {

} */

@media only screen and (min-width: 768px) {
    .logo_mobile {
        display: none;
    }

    .logo_desktop {
        display: inline-block;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .logo {
        width: 22%;
        height: auto;
    }
}

/* @media only screen and (min-width: 992px) {
} */

/* @media only screen and (min-width: 1200px) {
} */

/* @media only screen and (min-width: 1400px) {
} */
